
  
  .barra {
    background: black;
    padding: 20px;
    color: rgb(216, 71, 71);
  }
  
  .H {
    font-family: fantasy;
    color: red;
    margin-left: 30px;
  }
  
  .S {
    font-family: fantasy;
    font-size:larger;
    color:red;
    margin-left: 30px;
  }

  .Charmander{
    width: 500px;
    height: 500px;
  }
.titulo2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: red;
}